# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Logs
logs
*.log
npm-debug.log*
.pnpm-debug.log*

# IDEs and editors
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace
.project
.classpath
.c9/
*.launch
.settings/

# OS
.DS_Store
Thumbs.db